/* Medium Layout: 1280px.
Checking Size: 1000px
Standard Width:970px
 */

 @media only screen and (min-width: 992px) and (max-width: 1200px) {
	.boundary{
		width:970px;
	}
	.menu {
		width: 795px;
	}

	.footer-area ul li a {
		padding: 0 25px;
	}
	
}


/* Tablet Layout: 768px.
Checking Size: 800px
Standard Width:750px
 */

@media only screen and (min-width: 768px) and (max-width: 991px) {
	.boundary{
		width:750px;
	}
	.menu {
		width: 570px;
		margin-top: 15px;
	}





/* Wide Mobile Layout: 480px.
Checking Size: 600px
Standard Width:450px
 */

@media only screen and (min-width: 480px) and (max-width: 767px) {
	.boundary{
		width:450px
	}
	.menu {
	float: none;
	width: 100%;
	margin-left: 0;
}
.menu ul {
	text-align: center;
}
.logo {
	margin-bottom: 15px;
}
.single-service {
	width: 50%;
}
.single-testimonial {
	width: 50%;
	margin-right: 0;
}
.single-testimonial p {
	font-size: 16px;
}
.footer-area ul li {
	display: inline-block;
	padding-bottom: 5px;
}
.footer-area ul li a {
	font-size: 15px;
	padding: 0 5px;
}
.footer-area {
	padding: 15px 0;
}
	
	

}